body{
    margin: 0;
}
.header{
    background-color: blue;
    width: 100%;
    height: 83%;
}
.content{
    position: absolute;
    top: 83px;
    left: 0;
    right: 0;
    bottom: 146px;
    background-color: #cdcecf;
}
    .content .login-box{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -173px;
        margin-left: -324px;
        width: 648px;
        height: 346px;
        background-color: white;
        background-image: url('bgLogin.png');
        background-repeat: no-repeat;
        background-position-y: 31px;        
    }
        .content .login-box .login-info-detail{
            float: right;
            width: 60%;
            height: 100%;

        }
            .content .login-box .login-info-detail .title-login{
                color: rgb(86, 86, 212);
                text-align: center;
                margin-top: 18px;
                font-weight: bold;
            }
            .content .login-box .login-info-detail .title-login
.footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 146px;
    background-color: aliceblue;

}